.gif-item {
  position: relative;
}

.gif-item img {
  object-fit: cover;
}

.gif-item h4 {
  background: var(--black-transparency);
  bottom: 0;
  color: var(--white);
  font-size: 12px;
  position: absolute;
  right: 0;
}

.gif-link {
  color: var(--black);
  display: block;
  text-decoration: none;
  position: relative;
}

.gif-item img,
.gif-link {
  height: 100%;
  width: 100%;
}

.Gif:nth-child(5n + 1) img {
  background-color: var(--brand-color_1);
}
.Gif:nth-child(5n + 2) img {
  background-color: var(--brand-color_2);
}
.Gif:nth-child(5n + 3) img {
  background-color: var(--brand-color_3);
}
.Gif:nth-child(5n + 4) img {
  background-color: var(--brand-color_4);
}
.Gif:nth-child(5n + 5) img {
  background-color: var(--brand-color_5);
}

.Gif:hover:nth-child(5n + 1) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_1);
}
.Gif:hover:nth-child(5n + 2) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_2);
}
.Gif:hover:nth-child(5n + 3) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_3);
}
.Gif:hover:nth-child(5n + 4) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_4);
}
.Gif:hover:nth-child(5n + 5) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_5);
}

.Gif:hover:nth-child(5n + 1) h4 {
  background-color: var(--brand-color_1);
  color: var(--black-pure);
}
.Gif:hover:nth-child(5n + 2) h4 {
  background-color: var(--brand-color_2);
  color: var(--black-pure);
}
.Gif:hover:nth-child(5n + 3) h4 {
  background-color: var(--brand-color_3);
  color: white;
}
.Gif:hover:nth-child(5n + 4) h4 {
  background-color: var(--brand-color_4);
  color: white;
}
.Gif:hover:nth-child(5n + 5) h4 {
  background-color: var(--brand-color_5);
  color: var(--black-pure);
}

.Gif:nth-child(11n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.Gif:nth-child(8n + 1) {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.Gif:nth-child(10n + 3) {
  grid-column: span 2;
  grid-row: span 1;
}

@media screen and (min-width: 768px) {
  .Gif:nth-child(11n + 1),
  .Gif:nth-child(8n + 1),
  .Gif:nth-child(10n + 3) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
