.gif-item {
  padding: 5px;
  position: relative;
}

.gif-item img {
  object-fit: cover;
}

.gif-item h4 {
  background: var(--black-transparency);
  bottom: 0;
  color: var(--white);
  font-size: 12px;
  position: absolute;
  right: 0;
  text-align: end;
  text-transform: lowercase;
}

.gif-link {
  color: var(--black);
  display: block;
  position: relative;
  text-decoration: none;
}

.gif-item img,
.gif-link {
  height: 100%;
  width: 100%;
}

.gif-item:hover h4 {
  color: var(--black);
}

.gif-item:nth-child(4n + 1):hover {
  background-color: var(--aqua-light);
}

.gif-item:nth-child(4n + 2):hover {
  background-color: var(--pink-light);
}

.gif-item:nth-child(4n + 3):hover {
  background-color: var(--plum-light);
}

.gif-item:nth-child(4n + 4):hover {
  background-color: var(--springreen-light);
}

.gif-item:nth-child(4n + 1):hover h4 {
  background-color: var(--aqua-light);
}

.gif-item:nth-child(4n + 2):hover h4 {
  background-color: var(--pink-light);
}

.gif-item:nth-child(4n + 3):hover h4 {
  background-color: var(--plum-light);
}

.gif-item:nth-child(4n + 4):hover h4 {
  background-color: var(--springreen-light);
}

@media screen and (min-width: 768px) {
  .gif-item:nth-child(11n + 1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gif-item:nth-child(8n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .gif-item:nth-child(10n + 3) {
    grid-column: span 2;
    grid-row: span 1;
  }
}
