.Category {
  list-style: none;
  padding: 0.3rem;
  margin: 0.2rem;
  font-size: 1.2rem;
}

.Category-link {
  color: inherit;
  text-decoration: none;
  font-size: 1em;
  transition: color ease-in 0.1s;
}
