:root {
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 6px;
}

.gif-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: var(--gridList-rows);
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
  grid-template-rows: masonry;
  margin: 20px 0;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}
