:root {
  /*Colors*/
  --white: #ffffff;
  --black: #000000;
  --black-transparency: #0000004d;
  --aqua: #50f1f1;
  --pink: #f8bbc5;
  --plum: #db8fdb;
  --springreen: #68f5ae;
  --aqua-light: #9cfafa;
  --pink-light: #fad0d7;
  --plum-light: #d8b0d8;
  --springreen-light: #81fdbf;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TITLES */
h1.title {
  font-size: 24px;
}

.title:not(h1) {
  font-size: 18px;
  text-align: start;
}

/* LIST */
li {
  list-style: none;
}

.link {
  color: var(--black-pure);
  text-decoration: none;
}
