:root {
  /*Colors*/
  --theme--contrast-0: #121212;
  --white: #ffffff;
  --black: #000000;
  --black-transparency: #0000004d;
  --brand-color_1: #07e0fd;
  --brand-color_2: #fc34fc;
  --brand-color_3: #9933ff;
  --brand-color_4: #b8ff47;
  --brand-color_5: #58ffab;
  --brand-color_6: #4660f5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TITLES */
h1.title {
  font-size: 24px;
}

.title:not(h1) {
  font-size: 18px;
  text-align: start;
}

/* LIST */
li {
  list-style: none;
}

.link {
  color: var(--black-pure);
  text-decoration: none;
}
